Flask==0.6.1
Jinja2==2.5.5
PyYAML==3.09
Pygments==1.4
Werkzeug==0.6.2
argh==0.14.0
bpython==0.9.7.1
mock==0.7.0b4
nose==1.0.0
paragram==0.1.2
python-termstyle==0.1.6
redis==2.2.0
rednose==0.1.5
snakefood==1.4
watchdog==0.3.6
wsgiref==0.1.2
